a:link{
color: #0d82dd; 
text-decoration:none;
}
			
a:visited{
color:#0d82dd;
text-decoration:none;
}
			
a:hover{
color:#0c3e64;
text-decoration:underline;
}

.form{
	background-image: url('../img/back-key.png');
	background-position: center bottom;
	background-size:100% 100%;
	margin-top: 2%;
	margin-left: 35%;
	font-family: Rockwell;
	font-size: 15px;
	border: 1px solid BLACK;
	max-width: 300px;
	max-width: 300px;
	height: 300px;
	padding: 70px 10px 10px 60px;
}

#submit{
	width: 6em;
	height: 2em;
}