#main_body{
width:740px;
border:1px solid black;
height: 160px;
background-image:url(../img/bg.gif);
}
#m{
margin-top:4px;
}
#right_body{
height:158px;
width:105px;

float:left;
}
#left_body{
height:158px;
width:630px;
border: 1px solid teal;
margin-left:0px;
float:right;
}
#upper,#lower{
width:104px;
height:79px;


}

#title{
width:630px;
height:46px;

border: 1px black dotted;
}
#question{
width:630px;
height:66px;
border: 1px black dotted;

}
#view{
margin-left:7px;
margin-top:0px;
}

#category{
height:40px;
width:260px;

float:left;

}
#post{
margin-left:6px;
margin-top:3px;
}

#asked{
float:right;
height:40px;
width:350px;


}
#a{
margin-top:0px;
margin-left:4px;
}
#link{

font-size: 16px;
margin-left:10px;
text-color:blue;
}
#link:hover{
font-size:17px;

display:inline;

}
#cat{
margin-top:4px;
margin-left:3px;
}
#solve{
background-image:url(../img/a.gif);
width:740px;
height:85px;
}
#h1{
margin-top:11px;
margin-left:14px;
text-align:left;
}

#left{
float:left;
width:230px;


}
#right{
float:right;
width:400px;
height:80px;

}
#uns{
font-size:18px;
text-decoration:none;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background:orange;
height:19px;
}
